* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* 头部 */
header {
    width: 20%;
    margin: auto;
}
header ul {
    display: flex;
}
header ul li {
    margin: 10% auto;
    padding-left:  20%;
}
header ul li a { 
  color: rgb(0, 252, 168);
  font-size: 1.9vh;
  line-height: 25px;
}
/* 轮播图部分 */
.slider {
    position: relative;
    width: 100%;
    height: 55vh;
    /* overflow: hidden; */
}
.bg {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 1;
 background-image: url(./images/1.jpg);
 background-position: center center;
 filter: blur(140px);
}
.slider ul {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-40%, -50%);/* 这里有一个图片无法居中的bug，待解决 */
    width: 70%;
    z-index: 2;
}
.slider-list,
.slider-list--a {
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
}
.slider-list--a {
transition: opacity 1s;
opacity: 1;
}
.slider ul li img {
width: 110%;
border-radius: 15px;
}
article {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50vh;
    background-color: rgb(228, 225, 225);
}
article h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 75px;
}

/* 导航栏 */
nav {
    position: fixed;
    left: 0;
    width: 100px;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(243, 244, 246,.3);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
    z-index: 3;
}
.nav-a {
    display: block;
    height: 15%;
    width: 85%;
    margin: 9px;
    position: relative;
    transition: .3s;
    color: #000;
}
.nav-a i {
    font-size: 40px;
    position: absolute;
    margin: 7px 0 0 13px;
}
.nav-a span{
    position: relative;
    top: 22px;
    left: 80px;
    font: 500 20px;
    opacity: 0;
    transition: .1s;
}
nav:hover {
    width: 200px;
}
.nav-a:hover {
    background-color: rgb(209, 213, 219);
    color: rgb(241, 159, 159);
}
nav:hover span{
    opacity: 1;
}